<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <style>
    	
   .btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    	}

    .inptbx{

    position: fixed;
    left: 10%;
    top: 5.5%;

    }	

    .inptbx1{

    position: fixed;
    left: 10%;
    top: 14.7%;

    }	


    </style>
    <meta charset = "UTF-8" />
    <script src="http://www.apilayer.net/api/live?access_key=0fc7f03410ded838df62c4487e855302"></script>
  </head>
  <body>
    
    <form>
     
          <legend>Convert From</legend>
          <p>
             <label>Select list</label>
             <select id = "myList">
               <option value = "1">Dollars</option>
               <option value = "2">Euro</option>
               <option value = "3">Rwf</option>
               
             </select>
          </p>
          <input type="number" name="" class="inptbx">

          <legend>Convert To</legend>
          <p>
             <label>Select list</label>
             <select id = "myList">
               <option value = "1">Dollars</option>
               <option value = "2">Euro</option>
               <option value = "3">Rwf</option>
               
             </select>
          </p>
          <input type="number" name="" class="inptbx1">
       <button class="btn">Convert</button>
       
    </form>
  </body>
</html>