<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <style>
    	
   .btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    	}

    .inptbx{

    position: fixed;
    left: 10%;
    top: 5.5%;

    }	

    .inptbx1{

    position: fixed;
    left: 10%;
    top: 14.7%;

    }	


    </style>
    <meta charset = "UTF-8" />
    <script src="http://www.apilayer.net/api/live?access_key=0fc7f03410ded838df62c4487e855302"></script>
  </head>
  <body>
    
    <form method="post" action="savu">{% csrf_token %}
     
          <legend>Convert From</legend>
          <p>
             <label>Select list</label>
             <select id = "myList" name="From">
               <option value = "USD">Dollars</option>
               <option value = "Euro">Euro</option>
               <option value = "Rwf">Rwf</option>
               
             </select>
          </p>
          <input type="number" name="From_value" class="inptbx">

          <legend>Convert To</legend>
          <p>
             <label>Select list</label>
             <select id = "myList" name="To">
               <option value = "USD">Dollars</option>
               <option value = "Euro">Euro</option>
               <option value = "Rwf">Rwf</option>
               
             </select>
          </p>
          <input type="number" name="To_value" class="inptbx1">
       <button class="btn" name="savu">Convert</button>
       
    </form>
    <div id="history">
  <h4>History</h4>
  <ul>
    {% for item in all %}
    <li><a href="admin">{{item.Date}}:  <span> {{item.From_value}}{{item.From}}  </span><span>---> {{item.To_value}}{{item.To}}</span> </a></li>
    {% endfor %}
  </ul>
</div>
  </body>
</html>